<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Flirt48-mobile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" type="text/css"/>

	</head>
    
<body >
<div class="container-wrapper">

    <header>
    	<a href="index.htm"><div class="container-logo"></div></a>  
    </header>
    
    <div class="container-big-banner">
        <div class="banner-t1">
            <h1>Single und Flirt gesucht?</h1> 
            <p>Hier wartet Dein Traumpartner auf Dich!</p>
        </div>
    </div>
	
    <div class="wrap">
        <div class="index-space">

            <a href="register.htm" class="btn-01 register"><span class="icon-btn"></span><font>Register</font><span class="icon-next"></span></a>
            <a href="login.htm" class="btn-01 login"><span class="icon-btn"></span><font>Login</font><span class="icon-next"></span></a>
            <a href="#" class="btn-01 facebook"><span class="icon-btn"></span><font>Facebook Registrieren!</font><span class="icon-next"></span></a> 
        </div>
    </div>
    <div class="push"></div>
</div>
<div class="footer footer-color">
<a href="#">AGB's</a> | <a href="#">Impressum</a> | <a href="#">Datenschutzerklärung</a> | <a href="#">FAQ's</a> | <a href="#">Refund policy</a>
</div>

</body>
</html>