@charset "utf-8";
/* CSS Document */

#container-chat{height:auto; float:left; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; /*margin:10px 0;*/ border:2px solid rgba(255,255,255,0.8); width:auto; height:auto; box-shadow: 1px 1px 5px #000; background:url(../images/cm-theme/bg-opd.png);}

li.new {}
li.new-list { background:url(../images/cm-theme/bg-chat-contact-new.png) repeat-x !important; color:#000;}
span.notification { color: #fd0000; text-shadow: #905100 1px 1px 2px;}

#contactListArea { width: auto;
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
#messagesArea {float: left; width:720px; float:left; background:url(../images/cm-theme/bg-chat-02.png) repeat-x;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;}

/*icon-chat*/
ul.container-profile-chat{display:block; margin:0; padding:0; float:left; width:auto; margin-top:5px;}
ul.container-profile-chat li{display:block; margin:0; padding:0; width:88px; height:auto; max-height:89px; float:left; margin:0 0 6px 6px;}
ul.container-profile-chat li a div.profile-list-most{display:block; width:88px; height:89px; overflow:hidden;}
ul.container-profile-chat li a div.profile-list-most div.boder-profile-img-most{z-index:10; position:relative;}
ul.container-profile-chat li a div.profile-list-most div.img-profile-most{z-index:5; position:relative; top:-84px; left:6px;}
ul.container-profile-chat li a div.profile-list-most div.img-profile-most img{border:2px solid #fff; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; 
box-shadow: 2px 2px 3px #888888;}
ul.container-profile-chat li a:hover div.profile-list-most div.img-profile-most{opacity:0.7; filter:alpha(opacity=70);}

.container-input-chat{width:auto; height:210px; overflow:hidden;}
.container-input-chat h1{font-size:11px; text-align:center; margin:0 0 0 10px; width:auto; margin-top:5px; -webkit-border-top-left-radius: 15px; padding:5px; text-transform:none !important; font-size:12px;}

/*chat btn*/
.container-btn-chat{float:left; margin-left:6px; margin-top:0; position:relative; text-shadow: 1px 1px #ccc;}
.container-btn-chat a{display:block; text-align:center; line-height:49px; font-size:12px; color:#000; font-weight:bold;}
a.btn-coin-icon{background:url(../images/cm-theme/btn-chat-coin.png) no-repeat; width:49px; height:49px; float:left;}
a.btn-emoticon{background:url(../images/cm-theme/btn-chat-emoticon.png) no-repeat; width:50px; height:49px; float:left;}
a.btn-gift{background:url(../images/cm-theme/btn-chat-gift.png) no-repeat; width:50px; height:49px; float:left;}
a.btn-sms-chat{background:url(../images/cm-theme/btn-chat-sms.png) no-repeat right top; width:234px; height:49px; float:left; text-align:center; line-height:49px; font-size:12px; color:#000;}
a.btn-email-chat{background:url(../images/cm-theme/btn-chat-email.png) no-repeat right top; width:234px; height:49px; float:left;}

a:hover.btn-coin-icon{background:url(../images/cm-theme/btn-chat-coin.png) no-repeat 0 -49px;}
a:hover.btn-emoticon{background:url(../images/cm-theme/btn-chat-emoticon.png) no-repeat 0 -49px;}
a:hover.btn-gift{background:url(../images/cm-theme/btn-chat-gift.png) no-repeat 0 -49px;}
a:hover.btn-sms-chat{background:url(../images/cm-theme/btn-chat-sms.png) no-repeat right -49px;}
a:hover.btn-email-chat{background:url(../images/cm-theme/btn-chat-email.png) no-repeat right -49px;}

#sms{width:606px; height:80px; max-height:100px; margin-top:5px; margin-left:5px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  color: #393737;  background: url(../images/cm-theme/field_norm.gif) repeat-x #f3e5bd; padding:5px;  border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #73530f; border-right-color: #d7a436; border-bottom-color: #c6b082; border-left-color: #895d00; border-radius: 5px; float:left; padding:5px;}
#sms:focus {color: #393737;  background: url(../images/cm-theme/field_focus.gif) repeat-x #c3ed9a;}
span.text-max{margin:0 0 0 3px; padding:0; text-align:center; width:auto; display:block; color:#FFF; float:left; margin-top:2px;}
#attachments-list{float:right; height:26px;}
/**/



.container-history-left{padding:10px 10px 0 10px; margin-left:10px; float:left; width:480px; background:url(../images/cm-theme/box-massage-left.png) no-repeat;}
.container-history-left h1{font-size:12px; font-weight:bold; text-align:left; margin:0; padding:10px 0; color:#000; text-shadow:0 0 0 #FFFFFF !important; text-transform:none; font-size:12px;}
.container-history-left h1 strong{ font-size:12px; font-weight:bold;}
.container-history-left p{ background:#b7ff4c; color:#000;
float:left; display:block; padding:10px; max-width:280px; margin:0; word-wrap: break-word;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size:12px; box-shadow:1px 1px 3px #000;
}
.container-history-left p a{color:#F00;}


.container-history-right{ padding:10px 10px 0 10px; margin-right:10px; float:right; width:480px; background:url(../images/cm-theme/box-massage-right.png) no-repeat right top;}
.container-history-right h1{font-size:12px; font-weight:normal; text-align:right; margin:0; padding:10px 0; color:#000; text-shadow:0 0 0 #FFFFFF !important; text-transform:none; font-size:12px;}
.container-history-right p{
float:right; display:block; background:#00d0ba; padding:10px; color:#000; max-width:280px; margin:0; word-wrap: break-word;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size:12px; box-shadow:1px 1px 3px #000;
}
.container-history-right p a{color:#F00;}

.container-gift-history-left{padding:10px 10px 0 10px; margin-left:10px; float:left; width:480px;}
.container-gift-history-left img{float:left;}
.container-gift-history-left h1{font-size:12px; font-weight:bold; text-align:left; margin:0; padding:10px 0; color:#000; text-shadow:0 0 0 #FFFFFF !important; text-transform:none; font-size:12px;}
.container-gift-history-left h1 strong{ font-size:12px; font-weight:bold;}
.container-gift-history-left p{ background:#FFF; color:#000;
float:left; display:block; padding:10px; max-width:280px; margin:0; word-wrap: break-word;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size:12px;
}
.container-gift-history-left p a{color:#F00;}

.container-gift-history-right{ padding:10px 10px 0 10px; margin-right:10px; float:right; width:480px;}
.container-gift-history-right img{float:right;}
.container-gift-history-right h1{font-size:12px; font-weight:normal; text-align:right; margin:0; padding:10px 0; color:#000; text-shadow:0 0 0 #FFFFFF !important; text-transform:none; font-size:12px;}
.container-gift-history-right p{
float:right; display:block; background:#000; padding:10px; color:#FFF; max-width:280px; margin:0; word-wrap: break-word;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size:12px;
}
.container-gift-history-right p a{color:#F00;}

/**/
#messagesListArea::-webkit-scrollbar,
#contactList::-webkit-scrollbar {width: 10px;height: 10px;}
#messagesListArea::-webkit-scrollbar-button:start:decrement,
#messagesListArea::-webkit-scrollbar-button:end:increment,
#contactList::-webkit-scrollbar-button:start:decrement,
#contactList::-webkit-scrollbar-button:end:increment  {height: 10px; display: block; background-color: transparent;}
#messagesListArea::-webkit-scrollbar-track-piece,
/*bg-color scrollbar */
#contactList::-webkit-scrollbar-track-piece  {background-color: #1c6a8a; -webkit-border-radius: 10px;}
#messagesListArea::-webkit-scrollbar-thumb:vertical,
/*color scrollbar */
#contactList::-webkit-scrollbar-thumb:vertical {height: 50px; background-color:#ffff02; border: 0px solid #eee; -webkit-border-radius: 10px;}

.container-chat-history{}
#messagesListArea { width:610px; height: 260px !important; overflow-y: auto; overflow-x: hidden; padding:2px; border:1px solid #fbcb8e; margin:8px 8px 0 8px; background:url(images/chat-bg.jpg) bottom no-repeat #fdd194; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: url(../images/cm-theme/field_norm.gif) repeat-x #f3e5bd;}

/*chat list*/
li.message_list {list-style:none; color: black; padding-bottom: 20px; max-width:400px; margin:2px; padding:5px; font-size:12px;}
li.sender{float:left;}
li.receiver{float:right;}
li.sender span.message{background:#dedede; padding:8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:auto; margin:2px 2px 2px 20px; float:left; box-shadow: 1px 1px 3px #000;}
li.receiver span.message{background:#b7ff4c; padding:8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:auto; margin:2px 2px 2px 20px; float:left; box-shadow: 1px 1px 3px #000;}

a.sms{display:block; padding:10px; float:left; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; width:200px; text-align:center; color:#000; font-weight:bold; margin-left:6px; border:2px solid #FFF; background:url(../images/cm-theme/btn-action-over.png) repeat-x;}
a:hover.sms, a:focus.sms{color:#000; border:2px solid #fdbe00; background:url(../images/cm-theme/btn-action03.png) repeat-x;}
a.email{display:block; padding:10px; float:left; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; width:200px; text-align:center; color:#000; font-weight:bold; margin-left:10px;  border:2px solid #fff; background:url(../images/cm-theme/btn-action-over-02.png) repeat-x;}
a:hover.email, a:focus.email{color:#000; border:2px solid #fdbe00; background:url(../images/cm-theme/btn-action03.png) repeat-x;}



.container-btn-chat-submit{width:470px; float:left; margin:0 0 20px 130px;}

.small-icon{ float:right;}
a.edit-icon{ background:url(../images/cm-theme/edit-icon_03.png) no-repeat; width:18px; height:18px; display:block; opacity:0.3; filter:alpha(opacity=30);}
a:hover.edit-icon{opacity:1; filter:alpha(opacity=100);}

ul#container-profile-list-most{display:block; margin:0; padding:0; float:left; width:195px; margin-top:5px;}
ul#container-profile-list-most li{display:block; margin:0; padding:0; width:88px; height:auto; max-height:89px; float:left; margin:0 0 6px 6px;}
ul#container-profile-list-most li a div.profile-list-most{display:block; width:88px; height:89px; overflow:hidden;}
ul#container-profile-list-most li a div.profile-list-most div.boder-profile-img-most{z-index:10; position:relative;}
ul#container-profile-list-most li a div.profile-list-most div.img-profile-most{z-index:5; position:relative; top:-88px; left:5px;}
ul#container-profile-list-most li a div.profile-list-most div.img-profile-most img{border:2px solid #fff; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; 
box-shadow: 2px 2px 3px #888888;}
ul#container-profile-list-most li a:hover div.profile-list-most div.img-profile-most{opacity:0.7; filter:alpha(opacity=70);}
ul#container-profile-list-most li p {margin:0; padding:5px 5px 0 5px; text-align:center; color:#000; text-shadow: #000 1px 1px 3px; height:20px;}

/*profile list*/
ul#container-profile-list{display:block; margin:10px 0 0 10px; padding:0;}
ul#container-profile-list li{display:block; margin:0; padding:0; width:120px; height:auto; max-height:141px; float:left; margin:0 6px 6px 0;}
ul#container-profile-list li a div.profile-list{display:block; width:120px; height:121px; overflow:hidden;}
ul#container-profile-list li a div.profile-list div.boder-profile-img{z-index:10; position:relative;}
ul#container-profile-list li a div.profile-list div.img-profile img{border:2px solid #fff; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; 
box-shadow: 2px 2px 3px #888888;}
.foto-image{border:2px solid #fff; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; 
box-shadow: 2px 2px 3px #888888;}
ul#container-profile-list li a div.profile-list div.img-profile{z-index:5; position:relative; top:-114px; left:9px;}
ul#container-profile-list li a:hover div.profile-list div.img-profile{opacity:0.7; filter:alpha(opacity=70);}
ul#container-profile-list li p {margin:0; padding:5px 5px 0 5px; text-align:center; color:#000; text-shadow: #fff 1px 1px 5px; height:20px;}

#iconlist{position: absolute; z-index:99; display: none; padding: 10px; padding-bottom: 0px; width: 570px; height: auto; border-radius: 5px; background:url(../images/cm-theme/noise.png) #e0e0e0; 
border:1px solid #ccc;}

#show_emo{ position:relative;}
#emtclose{background:url(../images/cm-theme/s-icon-09.png) no-repeat; width:21px; height:21px; float:right; cursor:pointer; position:absolute; right:0; top:-25px}
#emtclose span{visibility:hidden;}
.container-emoticons{display:block; width:auto; margin:20px auto; height:auto; margin-bottom: 0px;}
.container-emoticons li{display:block; float:left; margin-right:5px; height:auto; margin-bottom:5px;}
.container-emoticons li a img{ margin:auto;}
a.emtcons{display:block; padding:10px; border:1px solid #CCC;}
a:hover.emtcons{background:#FFF;}

.container-select-gifts{display:block; width:auto; height:auto;}
.container-select-gifts li{display:block; float:left; width:98px; border:1px #0a4860 solid; margin-left:5px; margin-bottom:5px; text-align:center;}
.container-select-gifts li a{display:block; width:98px; height:101px;}
.container-select-gifts li a:hover{background:#0a4860;}
.container-select-gifts li img{ margin-top:10px;}
.container-select-gifts li p{display:block; text-align:center; color:#FFF; font-weight:bold;}

.container-gift-confirm{}
.container-gift-confirm p{width:100%; padding:10px; text-align:center; font-size:14px;}
.container-gift-confirm span{display:block; text-align:center; width:50px; margin:0 auto; background:#0a4860; padding:10px; border:1px solid #FFF;}
.contianer-yn-gift{background:#03F; width:200px; width:200px; margin:20px auto;}

/*Attachments coins*/
.container-select-coins{width:950px; margin:0 auto; height:auto;}
.container-select-coins h2{text-align:center; margin-bottom:20px;}

/*ul.container-attachments-coins{display:block; float:left; margin:0 auto 10px auto; padding:0; width:950px; height:120px;}*/

ul.container-attachments-coins{display:block; float:left; margin:0 auto; padding:0; width:auto; height:120px;}
ul.container-attachments-coins li{display:block; float:left; background:url(../images/cm-theme/attachments-coins.png) no-repeat; width:122px; height:120px; margin-left:12px;}
ul.container-attachments-coins li a span{display:block; font-size:24px; font-weight:bold; line-height:120px; text-align:center; text-shadow: #000 1px 1px 5px;}
ul.container-attachments-coins li a{color:#FFF;}
.del-attachments{background:url(../images/cm-theme/s-icon-del-attach.png) no-repeat; height:15px; width:15px; display:block; float:left; margin-top:2px; margin-left:5px;}
#attachments-coins{display:block; margin-left:10px; float:left; width:70px; margin-bottom:5px; padding:5px;}
#attachments-coins-2{display:block; margin-left:5px; float:left; width:auto; margin-bottom:0; padding:0; margin-top:0;}
.container-attach-display{background:#F00;}
.container-attach-display span{line-height:20px; display:block; float:left; color:#FFF; font-weight:bold;}
.container-attach-display img{float:left;}
.message p{padding:0; margin:0; float:left; line-height:20px;}

.container-chat-left{ background:url(../images/cm-theme/bg-opd.png); padding:5px; float:left; width:300px; height:auto;}
.container-chat-right{ background:url(../images/cm-theme/bg-opd.png); padding:5px; float:right; width:626px; height:auto;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;}

#contactList{overflow-y: auto; overflow-x: hidden; width:auto; height:485px !important; padding: 0px;}

ul.container-chat-icon{ width:300px;}
ul.container-chat-icon li{width:auto; height:81px; margin:0 5px 2px 0; position:relative; background:url(../images/cm-theme/bg-box.png); -webkit-border-radius: 10px;
-moz-border-radius: 10px; border-radius: 10px; cursor:pointer;}

.profile-icon-chat{float:left; width:90px; height:80px; text-align:center; margin-top:2px; overflow:hidden;}
ul.container-chat-icon li a.profile-icon{display:block; width:90px; height:80px; background:url(../images/cm-theme/Recent-icon.png) no-repeat; position:absolute; z-index:99;}
ul.container-chat-icon li a.profile-icon:hover{background:url(../images/cm-theme/Recent-icon-over.png) no-repeat;}

.chat-img{-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; position:relative; z-index:89; margin-top:10px;}

ul.container-chat-icon li p{ float:left; font-weight:bold; font-size:14px; color:#114152; margin-left:10px; margin-top:20px; width:150px;}
ul.container-chat-icon li.active{ background:url(../images/cm-theme/bg-box-02.png);}
ul.container-chat-icon li.active p{color:#FFF !important;  text-shadow: #000 1px 1px 1px;}
li.new-list a.profile-icon {background:url(../images/cm-theme/Recent-icon-new.png) no-repeat !important;}


ul.container-chat-icon li a.chat-list-del{ background:url(../images/cm-theme/s-icon-del-attach.png) no-repeat; width:15px; height:15px; float:right; margin-right:5px; margin-top:5px;}
ul.container-chat-icon li a.chat-list-del span{visibility:hidden;}

.icon-fav-contact{background:url(../images/cm-theme/btn-quick-icon-fav-over.png) no-repeat; width:26px; height:25px; position:absolute; z-index:999; top:52px; left:70px;}